.third{
    height: 100svh;
    width: 100svw;
    background-color: #1F1F1F;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: white;
    font-family: "Lato", sans-serif;
}
.third > img:nth-child(1){
    position: absolute;
    top: 5%;
    left: 5%;
    opacity: .7;
    height: 180px;
    width: 180px;
    animation: Rotate 6s linear infinite;
}
.third > img:nth-child(2){
    position: absolute;
    left: 80%;
    top: 5%;
    opacity: .7;
    height: 180px;
    width: 180px;
    animation: Rotate 6s linear infinite;
}
.ttop{
    height: 200px;
    width: 600px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    p:nth-child(1){
        font-family: "New Amsterdam", sans-serif;
        letter-spacing: 3px;
    }
}
.tbot{
    height: 400px;
    width: 90svw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.tbd{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.tbd img{
    border: 2px solid white; 
    filter: saturate(0);
    transition: all .3s ease;
}
.tbd img:hover{
    filter: saturate(1) brightness(1.25);
    transition: all .3s ease;
    cursor: pointer;
}


@keyframes Rotate{
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}

@media only screen and (max-width: 1432px){
    .third{
        height: fit-content;
    }
    .tbot{
        height: fit-content;
    }
    .tbd{
        height: 300px;
    }
    .third > img:nth-child(1){
        height: 100px;
        width: 100px;
    }
    .third > img:nth-child(2){
        height: 100px;
        width: 100px;
    }
}

@media only screen and (max-width: 1024px){
    .third > img:nth-child(1){
        top: 30%;
    }
    .third > img:nth-child(2){
        top: 30%;
        left: 80%;
    }
}
@media only screen and (max-width: 700px){
    .ttop{
        height: 300px;
        width: fit-content;
    }
    .tbd{
        height: 280px;
    }
    .third > img:nth-child(2){
        left: 75%;
    }
}
@media only screen and (max-width: 450px){
    .third > img:nth-child(1){
        height: 80px;
        width: 80px;
    }
    .third > img:nth-child(2){
        height: 80px;
        width: 80px;
        left: 65%;
    }
}